:root {
  --box-font: "Permanent Marker", cursive;
}
body {
  margin: 0;
  padding: 0;
  background-color: #c1e0f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
